<!-- Page title -->
<title>{% if page.title != 'Home' %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<!-- Basic metadata -->
<meta name="author" content="{{ site.author }}"/>
<link rel="icon" href="/_images/favicon.ico" />
<meta name="description" content="{{ site.description }}"/>

<!-- Character set encoding -->
<meta charset="utf-8">

<!-- Ensure proper rendering -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Style sheets -->
{% indent_include styling.html 0 %}